.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-auto-rows: 403px;
  gap: 50px 48px;
  margin: 50px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 30px 14px 14px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  font-size: 11px;
  line-height: 13px; }
  .card__photo {
    width: 160px;
    height: 134px;
    margin: 0 5px 45px; }
  .card__image {
    width: 100%;
    height: 100%; }
  .card__description {
    margin-bottom: 15px; }
  .card__title {
    margin: 0;
    height: 31px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px; }
  .card:not(:last-child) {
    margin-right: 48px; }
  .card__code {
    margin: 4px 0 0; }
  .card__rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .card .stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .card__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 20px 0 21px; }
  .card__price-amount {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px; }
  .card__buy-button {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 11px 57px;
    border-radius: 5px;
    border: 1px solid #00acdc;
    background-color: #00acdc;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    -webkit-transition: color ease 0.5s, background-color ease 0.5s, opacity ease 0.3s;
    transition: color ease 0.5s, background-color ease 0.5s, opacity ease 0.3s; }
  .card__buy-button:hover {
    background-color: #fff;
    color: #00acdc; }
  .card__buy-button:active {
    color: red; }

.stars__item {
  width: 15px;
  height: 15px;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center; }
  .stars__item:not(:last-child) {
    margin-right: 4px; }
  .stars--1 .stars__item:nth-child(-n+1) {
    background-image: url(../images/star-active.svg); }
  .stars--2 .stars__item:nth-child(-n+2) {
    background-image: url(../images/star-active.svg); }
  .stars--3 .stars__item:nth-child(-n+3) {
    background-image: url(../images/star-active.svg); }
  .stars--4 .stars__item:nth-child(-n+4) {
    background-image: url(../images/star-active.svg); }
  .stars--5 .stars__item:nth-child(-n+5) {
    background-image: url(../images/star-active.svg); }

@media screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, 200px); } }

/*# sourceMappingURL=content.css.map */
